<h1 class="info-page-heading">Dog Videos and How To's</h1>
<div id="dog-videos-info">
  <table class="first-row">
    <tr>
      <th>Training Your Dog</th>
      <th>When To Train Your Dog</th>
    </tr>
    <tr>
      <div class="first-video">
        <td>
          <iframe width="550" height="350" src="https://www.youtube.com/embed/jFMA5ggFsXU" frameborder="5" allowfullscreen></iframe>
        </td>
      </div>

      <div class="second-video">
        <td>
          <iframe width="550" height="350" src="https://www.youtube.com/embed/OFZ003dY8cU" frameborder="5" allowfullscreen></iframe>
        </td>
      </div>
    </tr>
  </table>

  <table class="second-row">
    <tr>
      <th>Getting Training Help</th>
      <th>Training Tutorial</th>
    </tr>
    <tr>
      <div class="first-video">
        <td>
          <iframe width="550" height="350" src="https://www.youtube.com/embed/hu5i6GVsj1A" frameborder="5" allowfullscreen></iframe>
        </td>
      </div>

      <div class="second-video">
        <td>
          <iframe width="550" height="350" src="https://www.youtube.com/embed/49A12LPsE8M" frameborder="5" allowfullscreen></iframe>
        </td>
      </div>
    </tr>
  </table>
</div>
<link rel="stylesheet" type="text/css" href="/css/custom.css">
