/* Index */
.breeds-name {
  font-size: 21px;
  text-align: left;
  padding-bottom: 5px;
}

.breeds-info {
  width: 1000px;
  position: relative;
  background-color: white;
  border: 2px solid black;
  padding: 10px 0px 15px 20px;
  margin: 0 auto;
}

div#breeds-index {
  margin: 20px;
}

div.breed-description {
  position: absolute;
  margin-left: 18%;
  margin-top: 2%;
  padding-right: 50px;
}

.breeds-heading {
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 5%;
}

.break-between-breeds {
  padding-top: 30px;
}

/* Show */
div#breeds-show {
  position: relative;
  height: 875px;
  width: 700px;
  display: inline-block;
  background-color: #F05F40;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  text-align: center;
}

.breeds-name-show {
  margin-bottom: 25px;
  text-align: center;
}

.breed-description-show {
  padding: 25px 100px 0px 100px;
}

.breed-life-span, .breed-temperament,
.breed-height, .breed-weight {
  display: block;
  padding-top: 10px;
}
