body {
  background: url("../img/login-form.jpg") no-repeat;
  background-size: cover;
}

/* Dog Search Results  */
.doge-info {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  /*background: rgba(0, 0, 0, 0.9);*/
  display: inline-block;
}

.dog-name {
  font-size: 35px;
  padding-left: 15px;
}

.dog-link-name {
  color: black;
}

.dog-link-name:hover {
  color: #444;  
}
#col-dog-photo {
  width: 35%;
}

.breed-name, .dog-age {
  font-size: 24px;
  padding-top: 30px;
}

#dog-page {
  width: 1100px;
  background-color: rgba(240, 95, 64, 1);
  padding-bottom: 35px;
  padding-left: 25px;
  border: 3px solid black;
  margin: 50px;
}

/*Dropdowns*/
ul.navbar-right a.page-scroll:hover,
ul.navbar-right a.page-scroll.hover {
  background-color: #F05F40;
  color: white;
  display: block;
}

ul, a.hover, .nav>li>a:hover,
.nav>li>a:focus {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  list-style-type: none;
  text-decoration: none;
}

li>ul, li>ul.dog-search {
  display: none; 
}
