body {
  background: url("../img/login-form.jpg") no-repeat;
  background-size: cover;
}

.signup-form {
  left: 5%;
  margin-top: 5%;
  width: 45%;
  height: 100%;
}

#admin_email, #admin_password, .login-title, .sign-up-title {
  color: black;
}

.login-title, .sign-up-title {
  font-size: 40px;
  margin-top: 40px;
  margin-left: 45px;
  margin-bottom: -40px;
  padding: 20px;
  text-align: left;
  color: black;
}

form.new_admin {
  margin-top: 10%;
  margin-left: 10%;
  font-size: 20px;
}

input.signup-email-field, input.signup-password-field, input.signup-password-confirm-field {
  width: 65%;
  margin-bottom: 25px;
}

input.email-field, input.password-field {
  margin-bottom: 25px;
  text-align: left;
  width: 30%;
}

.session-submit-button, .registration-submit-button, .dog-search-submit-button {
  background-color: #0b73ce;
  color: white;
}

.signup-button {
  width: 40%;
}

.login-button {
  width: 20%;
}

.sign-up-button-devise-links, .login-button-devise-links {
  font-size: 20px;
  color: black;
  margin: 7%;
}

.links {
  margin-top: 20px;
  margin-left: 25px;
}

.alert {
  color: red;
  font-size: 18px;
  margin-top: 70%;
  background-color: white;
  display: inline-block;
}

#error_explanation {
  background-color: white;
  padding: 10px;
  padding-top: -70px;
}

/* Dog Search Form*/
ul.dog-search {
  display: inline;
  position: absolute;
  margin-left: -35%;
}

.location, .dog-breed, .dog-gender {
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.search-dogs-header {
  margin-top: 5%;
  color: black;
  margin-left: 10%;
  margin-bottom: -3%;
}

.search-for-dogs-form {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  display: inline-block;
  border-radius: 2px;
  border: 4px solid;
  width: 100%;
}

.zip-code-area, .breed-text-field, .gender-text-field, .age-range {
  height: 40px;
  width: 100%;
  padding: 5px;
}

.dog-age-form {
  font-size: 15px;
}

.age-baby, .age-young, .age-adult {
  padding: 5px;
  font-size: 20px;
}

.dog-search-submit-button {
  width: 35%;
}

input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
}

/* Dog Search Results  */
.doge-info {
  height: 450px;
  width: 350px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
  background: rgba(236, 227, 227, 0.67);
  display: inline-block;
}

.dog-name {
  font-size: 35px;
}

.breed-name, .dog-age {
  font-size: 24px;
  padding-top: 10px;
}

/*Dropdowns Easing*/

ul.navbar-right, a:hover,
ul.navbar-right, a.hover {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
}

ul, a.hover, .nav>li>a:hover,
.nav>li>a:focus {
  list-style-type: none;
  text-decoration: none;
}

/*More Info Pages*/
.info-page-heading {
  margin-top: 50px;
  color: white;
  position: relative;
  margin-left: 20px;
}

th, td {
  position: relative;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 15px;
  color: white;
  font-weight: 100;
  background-color: rgba(0,0,0,.7);
  border: 2px solid white;
}

th {
  font-size: 25px;
  padding-top: 10px;
}

td {
  padding-top: 10px;
}
