body {
  background-size: cover;
  background-image: linear-gradient(
    rgba(255, 255, 255, .5),
    rgba(255, 255, 255, .5)),
  url("../img/dogheader.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

a {
  cursor: pointer;
}

/* Dog Search Results  */
.list-inline>li {
  display: inline-block;
  margin-left: 10%;
  margin-top: 5%;
}

.dog-name, .dog-photo, 
.breed-name, .dog-age,
.dog-size-color, .dog-birth,
.dog-location, .dog-name-show, 
.adoption-available, .adoption-unavailable,
.edit-link, .back-link, 
.adoptable, .dog-name-show-dogs {
  text-align: center;  
}

h4.adoption-available {
  padding-bottom: 20px;
}

.dog-col-info {
  background-color: white;
  border: 4px solid black;
  width: 35%;
}

.doge-info {
  margin-top: 10px;
  color: black;
}

.dog-name {
  font-size: 35px;
}

.dog-name a {
  color: black;
  cursor: pointer;
}

.dog-link-name {
  color: black;
}

.dog-link-name:hover {
  color: #444;  
}

#col-dog-photo {
  width: 35%;
}

.breed-name, .dog-age {
  font-size: 21px;
  padding-top: 10px;
}

.edit-link, .back-link {
  display: inline;
  font-size: 20px;
}

.edit-dog-link, .back-to-dogs-link {
  color: black;
}

#dog-info-show-page {
  position: relative;
  height: 725px;
  width: 650px;
  display: inline-block;
  background-color: #F05F40;
  margin-left: 400px;
  margin-top: 2%;
  margin-bottom: 5%;
  text-align: center;
}

#dog-page {
  width: 1100px;
  background-color: rgba(240, 95, 64, 1);
  padding-bottom: 35px;
  padding-left: 25px;
  border: 3px solid black;
  margin: 50px;
}

.admins-dog-index {
  margin-top: 4%;
  margin-left: 5%;
  margin-bottom: -1%;
  color: #222;
}

#no-dogs-yet {
  margin-left: 28.5%;
  margin-top: 7%;
}

.doge-info-show-doge {
  height: 700px;
  width: 600px;
  display: inline-block;
  background-color: #F05F40;
  margin-top: 5%;
  margin-left: 28%;
  text-align: center;
}

.posted-by {
  font-size: 18px;
  font-weight: 300;
}

.show-admin-dogs {
  margin-top: 55px;
  margin-left: 25px;
}

.dog-name-show-dogs {
  padding-top: 3%;
  padding-bottom: 1%;
  font-size: 35px;
}

.break-at-bottom-of-dogs {
  padding-top: 30px;
}

.no-doges-match {
  margin-left: 23.5%;
  margin-top: 5%;
}

.search-returns-none {
  background-color: rgba(255, 0, 0, .50);
  display: inline-block;
  padding: 20px;
}

/* Edit Page*/
.edit-dog-info {
  text-align: center;
  padding-top: 30px;
}

/*Dropdowns*/
ul.navbar-right a.page-scroll:hover,
ul.navbar-right a.page-scroll.hover {
  background-color: #F05F40;
  color: white;
  display: block;
}

ul, a.hover, .nav>li>a:hover,
.nav>li>a:focus {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  list-style-type: none;
  text-decoration: none;
}

li>ul, li>ul.dog-search {
  display: none; 
}

/* Email confirmation expired*/
.form-resend-confirm-instructions > * {
  max-width: 650px;
  height: 325px;
  background: #FAFAFA;
  padding: 30px;
  margin: 0px auto;
  margin-top: 5%;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72;
}

h2.resend-confirm-instructions {
  position: relative;
  margin-top: 5%;  
  margin-left: 5%;  
}
