.dog-adopt-info, .dog-care-info, 
.all-our-pets, .dog-involvement {
  margin-left: -20px;
}

#dog-adopt-info, #dog-breeds-info, 
#bringing-dogs-home-info, #dog-training-info,
#dog-problems-info, #dog-grooming-info, #dog-videos-info,
#dog-helping-dogs-info {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 20px;
  
}

.info-page-heading {
  margin-top: 50px;
  position: relative;
  margin-left: 20px;
}

td.dog-training, th.dog-training {
  padding-left: 5%;
  padding-right: 5%;
}

th, td {
  position: relative;
  padding-right: 5%;
  padding-left: 5%;
  text-align: justify;
}

th {
  font-size: 25px;
  padding-top: 2%;
}

iframe.dog-videos {
  border: 5px solid white;
  background-color: #222;
  padding: 5px;
}
