#admin_email, #admin_password, #admin_password_confirmation {
  margin-bottom: 40px;
  padding-bottom: .3em;
}

#login-form, #signup-form {
  background-color: #fff;
  display: inline-block;
  padding: 25px;
  width: 700px;
  height: 450px;
  margin-left: 25.5%;
  margin-top: 7%;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #305A72;
}

#signup-form {
  height: 600px;
}

.login-title, .sign-up-title {
  font-size: 40px;
  margin-top: 10px;
  margin-left: 40%;
  color: black;
  font-weight: 700;
}

form.new_admin {
  font-size: 21px;
}

input.signup-email-field, input.signup-password-field, 
input.signup-password-confirm-field {
  width: 100%;
  margin-bottom: 25px;
  background-color: white;
  text-align: left;
  color: black;
  border: 1px solid black;
}

input.email-field, input.password-field {
  margin-bottom: 25px;
  text-align: left;
  width: 100%;
  border: 1px solid black;
}

.session-submit-button, .registration-submit-button, 
.dog-search-submit-button {
  background-color: #0b73ce;
  color: white;
}

.signup-button > * {
  margin-top: 10px;
}

.login-button > *,
.signup-button > * {
  width: 100%;
  height: 40px;
  font-size: 21px;
}

.sign-up-button-devise-links, .login-button-devise-links {
  font-size: 21px;
  color: black;
  margin: 0%;
}

.links {
  margin-top: 20px;
  margin-left: 25px;
}

/* Flash Messages */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.alert {
  font-size: 20px;
  margin-top: 7%;
  width: 40%;
  margin-bottom: -15%;
  margin-left: 55%;
  text-align: center;
}

#error_explanation {
  background-color: rgba(255, 2, 7, 0.7);
  margin-top: -15px;
  font-size: 18px;
  font-weight: 300;
  padding-bottom: .05px
}

#error_explanation > h2 {
  font-size: 20px;
  padding-left: 30px;
  padding-top: 10px;
}

div.panel-body {
  padding-top: 15px;
  padding-bottom: 0px;
}

.panel-danger {
  margin-bottom: 15px;
  margin: 0 auto;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.panel-danger>.panel-heading {
  margin-bottom: 15px;
}
