<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <%= 
              link_to_if admin_signed_in?, "Sign Out", destroy_admin_session_path, class: "navbar-brand page-scroll" do
                link_to "Sign In", new_admin_session_path, class: "navbar-brand page-scroll"
              end
            %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to "Find A Dog To Adopt", dogs_path, class: "page-scroll" %>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About Dog Adoption</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">Dog Care</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Shelters and Rescues </a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Helping Dogs</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Welcome To Dog Finder</h1>
            <hr>
            <p>
              This site is to help your search to find the perfect dog for your perfect life.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
