<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations! You successfully created a dog for adoption, <%= @dog.email %>!</h1>
    <p>
      To view your dogs, just follow this link: <%= @admin_dogs_url %>.
    </p>
    <p>Thanks for posting and have a great day!</p>
  </body>
</html>
