<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @dog.email %>!</h3>
    <p>
      This email is to inform you that you have successfully posted a dog for adoption.<br/>
      To view your dogs, just follow this link: <%= @admin_dogs_url %>.
    </p>
    <p>Thanks for posting and have a great day!</p>
  </body>
</html>
