<!DOCTYPE html>
<html>
  <head>
    <title>Dog Finder</title>
    <%= csrf_meta_tags %>

  </head>

  <body id="page-top">

    <%= render 'shared/header' %>
    <%= render 'shared/main' %>

  </body>
</html>
